.trendingSwitch span {
  color: rgb(42, 42, 42);
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.trendingSwitch {
  border-radius: 25px;
  /* background-color: aqua; */
  width: 200px;
  overflow: hidden;
  display: flex;
  border: 1px solid #1e78d2;
}

.trendingSwitch .active_switchtr {
  color: white;
  background-color: #1e78d2;
}
.switch_with_title {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.switch_with_title .title_trending {
  font-size: 25px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .switch_with_title .title_trending {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
  }
  .switch_container {
    display: flex;
    justify-content: right;
  }
}
