.singleCarouselItem {
    position: relative;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}

.singleCarouselItem .fill {
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}


.trending_data_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.trending_data_container .left {
    padding: 20px;
    display: flex;
}

.left img {
    width: 100%;
    border-radius: 20px;
}

.right {
    width: 100%;
    /* background-color: aqua; */
}

.right h2 {
    font-size: 70px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 80px;
    color: white;
}

.right p {
    font-size: 20px;
    color: white;
}

.right p:nth-child(2) {
    text-transform: uppercase;
    font-weight: bold;
}


@media screen and (max-width:500px) {
    .trending_data_container {
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    .singleCarouselItem .fill {
        position: absolute;
        height: 100%;
        /* width: 100%; */
        z-index: -1;
        opacity: 0.4;
    }

    .left {
        display: flex;
        justify-content: center;
    }

    .left img {
        width: 70%;
        border-radius: 20px;
    }

    .right h2 {
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;
        line-height: 45px;
        color: white;
    }

    .right p {
        font-size: 18px;
        color: white;
    }

}