.show_cast_with_sidedata {
    display: flex;
    flex-direction: column;
}

.show_cast {
    width: 85%;
    margin: 0 auto;
}

.side_data {
    width: 20%;
}

@media screen and (max-width:600px) {
    .show_cast {
        width: 100%;
        margin: 0 auto;
    }
}