.circular_vote_bar {
    width: 50px;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    padding: 5px;
}

@media screen and (max-width:900px) {
    .circular_vote_bar {
        width: 30px;
        background-color: rgba(255, 255, 255);
        border-radius: 50%;
        height: 30px;
        padding: 2px;
    }
}