.togglebtn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

._toggle_singlebtn input {
    display: none;
}

label {
    font-size: 20px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #1d74cb;
    cursor: pointer;
     /* border-radius:30px 0px 0px 30px ; */
}

.active_ {
    background-color: #1976d2;
    transition: 0.2s ease-in-out;
    color: white;
}
