.data_container {
    height: 80vh;
    overflow-y: scroll;
}

.btn_details {
    text-decoration: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-left: 10px;
    background-color: #1e78d2;
    padding-right: 10px;
    border-radius: 2px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn_details:hover {
    transform: scale(0.9);
}