.wrap_cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.display1 {
    margin: 0 auto;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
}
.title_3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size:25px;
    font-weight: 600;
}
